<!DOCTYPE html>
<html>
  <head>
    <title>Instafoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      

      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Главная", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "O нас", pages_about_path %>
        </li>

      </ul>
      
     <%= yield %>

    </div>
  </body>
</html>
